// App theme colors

$background: #434343;
$panel-body: #7d7d7f;
$button: #63636e;
$button-text: #f3f3f3;
$screen-text: #434343;
$screen-on: #7fffff;
$screen-off: #47b2b2;

$white: #fff;
$black: #000;

$box-shadow-color: #212121;

$font-normal: 'RobotoMono-Regular';
$font-medium: 'RobotoMono-Medium';

$text-bold: 700;
$text-normal: 400;